@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}


/* * {
    outline: 1px solid red;
} */


/* Share Style */

header,
.curriculam-section {
    max-width: 1160px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn-primary {
    width: 197px;
    height: 50px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
}

.section-title {
    font-size: 2.9rem;
    font-weight: bold;
    color: #000000;
}

main {
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #FFFFFF;
}


/* Navbar Style */

.navigation-bar {
    gap: 186px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    gap: 9px;
    text-decoration: none;
    align-items: center;
}

.logo img {
    max-width: 62px;
    max-height: 62px;
}

.logo h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #111111;
}

.nav-links {
    gap: 32px;
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.active {
    text-decoration: none;
}

#home {
    color: orange;
}

#about {
    color: skyblue;
}

#facilities {
    color: #05D4DF;
}

#admission {
    color: #5D58EF;
}

.btn-contact {
    text-decoration: none;
    background-color: orange;
    border-radius: 12px;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.menu-icon,
.material-symbols-outlined {
    display: none !important;
}


/* Banner Section Style */

.banner-section {
    gap: 60px;
    margin-top: 20px;
}

.banner-content {
    padding: 122px 0;
    /* width: 572px; */
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    /* max-width: 640px; */
    color: black;
}

#empowering {
    color: orange;
}

#towards-vision {
    color: skyblue;
}

.banner-description {
    font-size: 1.25rem;
    color: black;
    /* max-width: 640px; */
}

.banner-img {
    max-width: 469px;
}

@media screen and (max-width:576px) {
    header {
        width: 90%;
    }
    /* navbar style */
    .nav-links,
    .btn-contact,
    #logo-tle {
        display: none;
    }
    .menu-icon {
        display: block !important;
        cursor: pointer;
        color: black;
        font-size: 32px;
    }
    /* Banner Section Style */
    .banner-section {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .banner-img img {
        width: 90%;
        height: auto;
    }
    .banner-content {
        width: 90%;
        padding-bottom: 60px;
    }
    .banner-content {
        padding-top: 12px;
    }
    .banner-title {
        font-size: 2rem;
        max-width: 357px;
    }
    .banner-description {
        font-size: 0.82rem;
    }
    .btn-primary {
        width: 131px;
        height: 42px;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
    }
}


/* Curriculum Section */

.section-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.card-container {
    gap: 28.29px;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.card {
    max-width: 368px;
    border-radius: 19px;
    box-shadow: 0 20px 30px #FFFFFF;
    /* transition: transform 0.3s ease; */
}


/* .card:hover {
    transform: translate(-5px);
} */

.card-kinder {
    background: linear-gradient(180deg, #DEF5FF, #FFFFFF 40%);
}

.card-elementary {
    background: linear-gradient(180deg, #FFF4DC, #FFFFFF 40%);
}

.card-middle {
    background: linear-gradient(180deg, #F2E8FF, #FFFFFF 40%);
}

.card-icon {
    padding: 52.82px 115.5px 0 115.5px;
    width: 136.76px;
    height: 136.76px;
}

.card-title {
    font-size: 1.6rem;
}

.card-description {
    padding: 0 40.67px;
}

.read-more {
    text-decoration: none;
    font-size: 0.94rem;
    font-weight: bold;
}

.btn-kinder {
    color: #64C8FF;
}

.btn-elementary {
    color: #F0AA00;
}

.btn-middle {
    color: #8700FF;
}

.buttons {
    margin-top: 80px;
    text-align: center;
}

.slider-btn {
    border-radius: 30px;
    background-color: #FEA301;
    border: none;
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-size: 24px;
}


/* Curriculum Section responsive for mobile device */

@media screen and (max-width:576px) {
    .curriculam-section {
        width: 90%;
    }
    .section-title {
        font-size: 1.62rem;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .card-container {
        flex-direction: column;
    }
    .buttons {
        display: none;
    }
}